__pycache__
*.pyc
*.pyo
*.pyd
.Python
*.so
*.egg
*.egg-info
dist
build
.git
.gitignore
.vscode
.idea
*.md
test_api.py
train.py
tests/test_train.py
tests/test_train_functions.py
tests/test_train_complete.py